In [1]:
import numpy as np
import pandas as pd

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv -O housing_data.csv

--2022-09-26 15:10:03--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing_data.csv’

housing_data.csv    100%[===================>]   1.36M  --.-KB/s    in 0.07s

2022-09-26 15:10:03 (19.6 MB/s) - ‘housing_data.csv’ saved [1423529/1423529]

In [2]:
df = pd.read_csv('housing_data.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
working_col = [
    'latitude',
    'longitude',
    'housing_median_age',
    'total_rooms',
    'total_bedrooms',
    'population',
    'households',
    'median_income',
    'median_house_value',
    'ocean_proximity']

In [4]:
df_new = df[working_col]
df_new.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df_new.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
df_new.total_bedrooms = df_new.total_bedrooms.fillna(0)

In [7]:
df_new.isnull().sum()

latitude              0
longitude             0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [8]:
df_new['rooms_per_household']= df_new['total_rooms'] / df_new['households']

In [9]:
df_new['bedrooms_per_room'] = df_new['total_bedrooms'] / df_new['total_rooms']

In [10]:
df_new['population_per_household'] = df_new['population'] / df_new['households']

In [11]:
df_new.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

In [12]:
df_new.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [13]:
df_new.dtypes

latitude                    float64
longitude                   float64
housing_median_age          float64
total_rooms                 float64
total_bedrooms              float64
population                  float64
households                  float64
median_income               float64
median_house_value          float64
ocean_proximity              object
rooms_per_household         float64
bedrooms_per_room           float64
population_per_household    float64
dtype: object

In [14]:
categorical = [ 'ocean_proximity' ]
numerical = [ 'latitude',                    
'longitude',                  
'housing_median_age',          
'total_rooms',                 
'total_bedrooms',              
'population',                  
'households',                  
'median_income',                       
'rooms_per_household',        
'bedrooms_per_room',           
'population_per_household'   ]

In [15]:
df_new[numerical].corr()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household
latitude,1.000000,-0.924664,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,0.106389,-0.104112,0.002366
longitude,-0.924664,1.000000,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.027540,0.084836,0.002476
housing_median_age,0.011173,-0.108197,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,-0.153277,0.125396,0.013191
total_rooms,-0.036100,0.044568,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.133798,-0.174583,-0.024581
total_bedrooms,-0.065318,0.068082,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.002717,0.122205,-0.028019
population,-0.108785,0.099773,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.072213,0.031397,0.069863
households,-0.071035,0.055310,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,-0.080598,0.059818,-0.027309
median_income,-0.079809,-0.015176,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.326895,-0.573836,0.018766
rooms_per_household,0.106389,-0.027540,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,1.000000,-0.387465,-0.004852
bedrooms_per_room,-0.104112,0.084836,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.387465,1.000000,0.003047
population_per_household,0.002366,0.002476,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.004852,0.003047,1.000000

In [16]:
df_new.median_house_value.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [17]:
above_average =( df_new.median_house_value > df_new.median_house_value.mean()).astype(int)

In [18]:
above_average

0        1
1        1
2        1
3        1
4        1
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: median_house_value, Length: 20640, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
df_full_train, df_test = train_test_split(df_new, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [21]:
len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [22]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [23]:
y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [24]:
df_train.dtypes

latitude                    float64
longitude                   float64
housing_median_age          float64
total_rooms                 float64
total_bedrooms              float64
population                  float64
households                  float64
median_income               float64
ocean_proximity              object
rooms_per_household         float64
bedrooms_per_room           float64
population_per_household    float64
dtype: object

In [25]:
from sklearn.metrics import mutual_info_score

In [26]:

# mutual_info_score(df_train.ocean_proximity, above_average)
# df_train.dtypes
above_average_train = (y_train > y_train.mean()).astype(int)
above_average_train

array([1, 1, 0, ..., 1, 0, 0])

In [27]:
mutual_info_score(df_train.ocean_proximity, above_average_train)

0.10138385763624205

In [28]:
above_average_test = (y_test > y_test.mean()).astype(int)
above_average_val = (y_val > y_val.mean()).astype(int)

In [29]:
from sklearn.feature_extraction import DictVectorizer

In [30]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

In [33]:
model.fit(X_train, above_average_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [34]:
y_pred = model.predict_proba(X_val)[:, 1]

In [35]:
y_pred

array([0.08070483, 0.16658343, 0.9521661 , ..., 0.96101702, 0.85154537,
       0.46412263])

In [36]:
churn_decision = (y_pred >= 0.5)

In [53]:


global_accuracy = (above_average_val == churn_decision).mean()
global_accuracy

0.8362403100775194

In [39]:
price_logs_train = np.log1p(y_train)
price_logs_test = np.log1p(y_test)
price_logs_val = np.log1p(y_val)

In [41]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [43]:
for a in [0, 0.01, 0.1, 1, 10]:

  model = Ridge(alpha=a, solver="sag", random_state=42)
  model.fit(X_train, price_logs_train)
  y_pred = model.predict(X_val)
  mse = mean_squared_error(y_pred, price_logs_val)
  rmse = np.sqrt(mse)
  rmse = round(rmse, 3)
  print(a, rmse)

0 0.524
0.01 0.524
0.1 0.524
1 0.524
10 0.524

In [44]:
categorical = [ 'ocean_proximity' ]
numerical = [ 'latitude',                    
'longitude',                  
'housing_median_age',          
'total_rooms',                 
'total_bedrooms',              
'population',                  
'households',                  
'median_income',                       
'rooms_per_household',        
'bedrooms_per_room',           
'population_per_household'   ]

In [67]:
def training(feat_to_remove):
  categorical = [ 'ocean_proximity' ]
  numerical = [ 'latitude',                    
'longitude',                  
'housing_median_age',          
'total_rooms',                 
'total_bedrooms',              
'population',                  
'households',                  
'median_income',                       
'rooms_per_household',        
'bedrooms_per_room',           
'population_per_household'   ]

  numerical.remove(feat_to_remove)
  dv = DictVectorizer(sparse=False)

  train_dict = df_train[categorical + numerical].to_dict(orient='records')
  X_train = dv.fit_transform(train_dict)

  val_dict = df_val[categorical + numerical].to_dict(orient='records')
  X_val = dv.transform(val_dict)

  model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
  model.fit(X_train, above_average_train)
  y_pred = model.predict_proba(X_val)[:, 1]
  churn_decision = (y_pred >= 0.5)
  local_accuracy = (above_average_val == churn_decision).mean()
  difference = global_accuracy - local_accuracy
  print(local_accuracy, difference, feat_to_remove)
  # return (difference, feat_to_remove)

In [68]:
training('total_rooms')

0.8391472868217055 -0.0029069767441860517 total_rooms

In [69]:
training('total_bedrooms')

0.8384205426356589 -0.0021802325581394832 total_bedrooms

In [70]:
training('population')

0.8275193798449613 0.008720930232558155 population

In [71]:
training('households')

0.8340600775193798 0.0021802325581395943 households